/*
!/src
src/gql/**/*
src/generated/**/*

!.babelrc.mjs
!.dependency-cruiser.js
!.graphqlrc.yml
!.prettierrc.json
!jest.config.js
!package.json
!tsconfig.app.json
!tsconfig.eslint.json
!tsconfig.json
!tsconfig.test.json
!webpack.config.js

*.snap
*.mdx
*.html
*.png
